/*style dell'elemento selezionato*/
.selected{
    background-color: rgb(231, 135, 226) !important;
    color:white;
}
.heroes{
    margin:0 0 2m 0;
    list-style-type:none;
    padding:0;
    width:15em;
}
/*stile per ogni elemento della lista*/
.heroes li{
    cursor: pointer;
    position:relative;
    left:0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}
/*slile per l'elemento già selezionato al passaggio del mause*/
.heroes li.selected:hover{
    background-color: rgb(205, 21, 230) !important;
    color:rgb(145, 156, 45);
}
/*stile per l'elemento durante il passaggio del mause*/
.heroes li:hover{
    color: rgb(139, 96, 120);
    background-color: rgb(238, 148, 148);
    left: .1em;
}
.heroes .badge{
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: rgb(250, 11, 170);
    line-height: 1em;
    position:relative;
    left: -1px;
    top: -4px;
    height:1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}